<!-- home :_minima -->
<link href="/public/css/home.css" rel="stylesheet"> 

<article class="post">
  <header class="post-header home">
    <div class="post-title"> {{ site.title }} </div>
  </header>

  <!-- main page: what you guys will see at the intro of my blog. This page is about my goals and what I do.
  My information will be added at "about" page.-->

  <p>
    <H1> 코딩독학 진짜 감사합니다 공부 많이 하고 있습니다..</H1>
    비전공자로 2014년 부터 데이터 분산관리 개발자로 재직중.<br>
    스스로 까먹지 않기 위하여 개발한 과정과, 공부한 내용들을 정리할 것.<br>
    나같은 비전공자를 기준으로 기록할 예정. 예시 메세지입니다. 정말 감사합니다. martinkang<br>
    <br>
  </p>
  <p>
    <br>
    혹시 공부하다 지치면 아래 음악을 
    들어보는 것도 추천한다. <br>
    - <a href="https://www.youtube.com/watch?v=PF80vemES_8">[DancingFingers] 예시 감사합니다.</a>
  </p>
</article>
